:root,
.visual-refresh,
.visual-refresh.theme-dark {
  --scrollbar-thin-thumb: var(--highlight);
  --scrollbar-auto-thumb: var(--highlight);
  --scrollbar-auto-scrollbar-color-thumb: var(--highlight);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-track: transparent;
  --transition-time: .3s;
  --background-image: unset;
  --background-position: center;
  --background-size: cover;
  --background-blur: 5px;
  --background-brightness: 100%;
  --background-primary: var(--background);
  --background-mobile-primary: var(--background);
  --background-secondary: var(--background) !important;
  --background-mobile-secondary: var(--background);
  --background-secondary-alt: var(--background);
  --background-tertiary: var(--background);
  --background-accent: var(--background);
  --background-floating: var(--background);
  --background-nested-floating: var(--background);
  --background-modifier-accent: rgb(from var(--highlight) r g b / 20%);
  --background-modifier-hover: rgb(from var(--highlight) r g b / 10%);
  --background-modifier-active: rgb(from var(--highlight) r g b / 30%);
  --background-modifier-selected: var(--highlight);
  --background-base-lowest: var(--background);
  --background-base-low: var(--background);
  --background-surface-high: var(--background);
  --modal-background: var(--background);
  --modal-footer-background: var(--background);
  --background-floating: var(--background);
  --bg-surface-overlay: var(--background);
  --activity-card-background: var(--background);
  --header-primary: var(--highlight);
  --header-secondary: var(--highlight);
  --chat-background: var(--background);
  --chat-border: var(--highlight);
  --chat-input-container-background: var(--background);
  --spoiler-hidden-background: var(--highlight);
  --spoiler-revealed-background: rgb(from var(--highlight) r g b / 20%);
  --input-background: var(--background);
  --textbox-markdown-syntax: var(--highlight);
  --logo-primary: var(--highlight);
  --control-brand-foreground: var(--highlight);
  --control-brand-foreground-new: var(--highlight);
  --background-mentioned: rgb(from var(--highlight) r g b / 30%);
  --background-mentioned-hover: rgb(from var(--highlight) r g b / 40%);
  --background-message-hover: rgb(from var(--highlight) r g b / 10%);
  --background-message-highlight: rgb(from var(--highlight) r g b / 30%);
  --background-message-highlight-hover: rgb(from var(--highlight) r g b / 40%);
  --background-message-automod: rgb(from var(--highlight) r g b / 20%);
  --background-message-automod-hover: rgb(from var(--highlight) r g b / 40%);
  --channeltextarea-background: var(--background);
  --text-link: var(--highlight);
  --text-link-low-saturation: rgb(from var(--highlight) r g b / 50%);
  --text-positive: var(--online-color);
  --text-warning: var(--afk-color);
  --text-danger: var(--dnd-color);
  --text-brand: var(--highlight);
  --text-normal: var(--text);
  --text-muted: var(--text);
  --button-danger-background-disabled: rgb(from var(--close-button) r g b / 20%);
  --button-danger-background: rgb(from var(--close-button) r g b / 20%);
  --button-danger-background-hover: rgb(from var(--close-button) r g b / 70%);
  --button-danger-background-active: rgb(from var(--close-button) r g b / 100%);
  --button-outline-danger-border: rgb(from var(--close-button) r g b / 50%);
  --button-outline-danger-background: rgb(from var(--close-button) r g b / 50%);
  --button-outline-danger-background-hover: rgb(from var(--close-button) r g b / 70%);
  --button-outline-danger-background-active: rgb(from var(--close-button) r g b / 100%);
  --button-outline-danger-text: rgb(from var(--close-button) r g b / 50%);
  --button-outline-danger-text-hover: rgb(from var(--close-button) r g b / 70%);
  --button-outline-danger-text-active: rgb(from var(--close-button) r g b / 100%);
  --button-outline-danger-border-hover: rgb(from var(--close-button) r g b / 70%);
  --button-outline-danger-border-active: rgb(from var(--close-button) r g b / 100%);
  --button-positive-background-disabled: rgb(from var(--online-color) r g b / 20%);
  --button-positive-background: rgb(from var(--online-color) r g b / 20%);
  --button-positive-background-hover: rgb(from var(--online-color) r g b / 70%);
  --button-positive-background-active: rgb(from var(--online-color) r g b / 100%);
  --button-outline-positive-border: rgb(from var(--online-color) r g b / 50%);
  --button-outline-positive-background: rgb(from var(--online-color) r g b / 50%);
  --button-outline-positive-background-hover: rgb(from var(--online-color) r g b / 70%);
  --button-outline-positive-background-active: rgb(from var(--online-color) r g b / 100%);
  --button-outline-positive-text: rgb(from var(--online-color) r g b / 50%);
  --button-outline-positive-text-hover: rgb(from var(--online-color) r g b / 70%);
  --button-outline-positive-text-active: rgb(from var(--online-color) r g b / 100%);
  --button-outline-positive-border-hover: rgb(from var(--online-color) r g b / 70%);
  --button-outline-positive-border-active: rgb(from var(--online-color) r g b / 100%);
  --button-primary-background-disabled: rgb(from var(--highlight) r g b / 20%);
  --button-primary-background: rgb(from var(--highlight) r g b / 20%);
  --button-primary-background-hover: rgb(from var(--highlight) r g b / 70%);
  --button-primary-background-active: rgb(from var(--highlight) r g b / 100%);
  --button-outline-primary-border: rgb(from var(--highlight) r g b / 50%);
  --button-outline-primary-background: rgb(from var(--highlight) r g b / 50%);
  --button-outline-primary-background-hover: rgb(from var(--highlight) r g b / 70%);
  --button-outline-primary-background-active: rgb(from var(--highlight) r g b / 100%);
  --button-outline-primary-text: rgb(from var(--highlight) r g b / 50%);
  --button-outline-primary-text-hover: rgb(from var(--highlight) r g b / 70%);
  --button-outline-primary-text-active: rgb(from var(--highlight) r g b / 100%);
  --button-outline-primary-border-hover: rgb(from var(--highlight) r g b / 70%);
  --button-outline-primary-border-active: rgb(from var(--highlight) r g b / 100%);
  --button-secondary-background-disabled: rgb(from var(--highlight) r g b / 20%);
  --button-secondary-background: rgb(from var(--highlight) r g b / 20%);
  --button-secondary-background-hover: rgb(from var(--highlight) r g b / 70%);
  --button-secondary-background-active: rgb(from var(--highlight) r g b / 100%);
  --button-outline-secondary-border: rgb(from var(--highlight) r g b / 50%);
  --button-outline-secondary-background: rgb(from var(--highlight) r g b / 50%);
  --button-outline-secondary-background-hover: rgb(from var(--highlight) r g b / 70%);
  --button-outline-secondary-background-active: rgb(from var(--highlight) r g b / 100%);
  --button-outline-secondary-text: rgb(from var(--highlight) r g b / 50%);
  --button-outline-secondary-text-hover: rgb(from var(--highlight) r g b / 70%);
  --button-outline-secondary-text-active: rgb(from var(--highlight) r g b / 100%);
  --button-outline-secondary-border-hover: rgb(from var(--highlight) r g b / 70%);
  --button-outline-secondary-border-active: rgb(from var(--highlight) r g b / 100%);
  --button-brand-background-disabled: rgb(from var(--highlight) r g b / 20%);
  --button-brand-background: rgb(from var(--highlight) r g b / 20%);
  --button-brand-background-hover: rgb(from var(--highlight) r g b / 70%);
  --button-brand-background-active: rgb(from var(--highlight) r g b / 100%);
  --button-outline-brand-border: rgb(from var(--highlight) r g b / 50%);
  --button-outline-brand-background: rgb(from var(--highlight) r g b / 50%);
  --button-outline-brand-background-hover: rgb(from var(--highlight) r g b / 70%);
  --button-outline-brand-background-active: rgb(from var(--highlight) r g b / 100%);
  --button-outline-brand-text: rgb(from var(--highlight) r g b / 50%);
  --button-outline-brand-text-hover: rgb(from var(--highlight) r g b / 70%);
  --button-outline-brand-text-active: rgb(from var(--highlight) r g b / 100%);
  --button-outline-brand-border-hover: rgb(from var(--highlight) r g b / 70%);
  --button-outline-brand-border-active: rgb(from var(--highlight) r g b / 100%);
  --button-filled-brand-background: rgb(from var(--highlight) r g b / 20%);
  --button-filled-brand-background-hover: rgb(from var(--highlight) r g b / 70%);
  --button-filled-brand-background-border: rgb(from var(--highlight) r g b / 50%);
  --button-filled-brand-background-active: rgb(from var(--highlight) r g b / 100%);
  --button-outline-danger-text: var(--text);
  --button-outline-danger-text-hover: var(--text);
  --button-outline-danger-text-active: var(--text);
  --search-popout-option-user-nickname: var(--highlight);
  --search-popout-option-user-username: rgb(from var(--highlight) r g b / 70%);
  --search-popout-option-filter-text: rgb(from var(--highlight) r g b / 70%);
  --search-popout-date-picker-border: 1px solid var(--highlight);
  --interactive-muted: rgb(from var(--highlight) r g b / 20%);
  --interactive-normal: rgb(from var(--highlight) r g b / 50%);
  --interactive-hover: rgb(from var(--highlight) r g b / 100%);
  --interactive-active: var(--highlight);
  --status-danger: var(--dnd-color);
  --status-warning: var(--afk-color);
  --status-positive: var(--online-color);
  --profile-gradient-primary-color: var(--background);
  --profile-gradient-secondary-color: var(--background);
  --bg-brand: var(--highlight);
  --brand-experiment: var(--highlight);
  --brand-experiment-100: var(--highlight);
  --brand-experiment-130: var(--highlight);
  --brand-experiment-160: var(--highlight);
  --brand-experiment-200: var(--highlight);
  --brand-experiment-230: var(--highlight);
  --brand-experiment-260: var(--highlight);
  --brand-experiment-300: var(--highlight);
  --brand-experiment-330: var(--highlight);
  --brand-experiment-360: var(--highlight);
  --brand-experiment-400: var(--highlight);
  --brand-experiment-430: var(--highlight);
  --brand-experiment-460: var(--highlight);
  --brand-experiment-500: var(--highlight);
  --brand-experiment-530: var(--highlight);
  --brand-experiment-560: var(--highlight);
  --brand-experiment-600: var(--highlight);
  --brand-experiment-630: var(--highlight);
  --brand-experiment-660: var(--highlight);
  --brand-experiment-700: var(--highlight);
  --brand-experiment-730: var(--highlight);
  --brand-experiment-760: var(--highlight);
  --brand-experiment-800: var(--highlight);
  --brand-experiment-830: var(--highlight);
  --brand-experiment-860: var(--highlight);
  --brand-experiment-900: var(--highlight);
  --brand-experiment-930: var(--highlight);
  --brand-experiment-960: var(--highlight);
  --brand-experiment-05a: var(--highlight);
  --brand-experiment-10a: var(--highlight);
  --brand-experiment-15a: var(--highlight);
  --brand-experiment-20a: var(--highlight);
  --brand-experiment-25a: var(--highlight);
  --brand-experiment-30a: var(--highlight);
  --brand-experiment-35a: var(--highlight);
  --brand-experiment-40a: var(--highlight);
  --brand-experiment-45a: var(--highlight);
  --brand-experiment-50a: var(--highlight);
  --brand-experiment-55a: var(--highlight);
  --brand-experiment-60a: var(--highlight);
  --brand-experiment-65a: var(--highlight);
  --brand-experiment-70a: var(--highlight);
  --brand-experiment-75a: var(--highlight);
  --brand-experiment-80a: var(--highlight);
  --brand-experiment-85a: var(--highlight);
  --brand-experiment-90a: var(--highlight);
  --brand-experiment-95a: var(--highlight);
  --primary-630: var(--background);
  --border-faint: var(--highlight);
  --border-subtle: var(--highlight);
  --app-border-frame: var(--highlight);
  --background-modifier-accent: var(--highlight);
}

.theme-dark body {
  background-color: var(--background);
  background-image: var(--background-image);
  background-position: var(--background-position);
  background-size: var(--background-size);
  backdrop-filter: blur(var(--background-blur)) brightness(var(--background-brightness));
}

.theme-dark .appMount__51fd7,
.theme-dark .app__160d8,
.theme-dark .bg__960e4,
.theme-dark .guilds__5e434,
.theme-dark .scroller_ef3116,
.theme-dark .sidebar__5e434,
.theme-dark .sidebar__5e434::after,
.theme-dark .container__2637a,
.theme-dark .chat_f75fb0,
.theme-dark .chatContent_f75fb0,
.theme-dark .title_f75fb0,
.theme-dark .searchBar__97492,
.theme-dark .container_c8ffbb,
.theme-dark .members_c8ffbb,
.theme-dark .content_f75fb0,
.theme-dark .container__91a9d,
.theme-dark .channelTextArea__74017,
.theme-dark .container__133bf,
.theme-dark .section__00943,
.theme-dark .nowPlayingColumn__133bf,
.theme-dark .container__7d20c,
.theme-dark .itemCard__7e549,
.theme-dark .section__00943,
.theme-dark .inset_bf1984,
.theme-dark .container__9293f,
.theme-dark .privateChannels_e6b769,
.theme-dark .scroller__99e7c,
.theme-dark .layer__960e4,
.theme-dark .standardSidebarView__23e6b,
.theme-dark .sidebarRegionScroller__23e6b,
.theme-dark .contentRegion__23e6b,
.theme-dark .contentRegionScroller__23e6b,
.theme-dark .container__4a84a,
.theme-dark .stickyHeader_adb41f,
.theme-dark .scroller_fb04e1,
.theme-dark .pageWrapper_a3a4ce,
.theme-dark .footer__214dc,
.theme-dark .container_f369db {
  background: rgba(0, 0, 0, 0) !important;
}

.theme-dark #app-mount .wrapper__44b0c rect[fill="#593695"],
.theme-dark #app-mount .wrapper__44b0c rect[mask*=streaming] {
  fill: var(--streaming-color);
}

.theme-dark #app-mount .wrapper__44b0c rect[fill="#43b581"],
.theme-dark #app-mount .wrapper__44b0c rect[mask*=online] {
  fill: var(--online-color);
}

.theme-dark #app-mount .wrapper__44b0c rect[fill="#faa61a"],
.theme-dark #app-mount .wrapper__44b0c rect[mask*=idle] {
  fill: var(--afk-color);
}

.theme-dark #app-mount .wrapper__44b0c rect[fill="#f04747"],
.theme-dark #app-mount .wrapper__44b0c rect[mask*=dnd] {
  fill: var(--dnd-color);
}

.theme-dark .numberBadge__40d6f {
  background-color: rgb(from var(--highlight) r g b / 70%) !important;
  color: var(--background);
}

.theme-dark .isUnread__908e2 {
  border: 1px solid var(--highlight);
}

.theme-dark .content__908e2 {
  color: var(--highlight);
}

.theme-dark .wrapper__2ea32:hover .unread__2ea32 {
  background-color: var(--highlight);
}

.theme-dark .guildSeparator-33mFX6 {
  background-color: var(--highlight);
  border-radius: 2px;
}

.theme-dark .unreadPillCapStroke__908e2 {
  color: var(--highlight);
  fill: var(--highlight);
}

.theme-dark .unreadPill__908e2 {
  background-color: var(--highlight);
  color: var(--background) !important;
}

.theme-dark .bar__3b95d,
.theme-dark .newMessagesBar__0f481 {
  background-color: var(--highlight);
  color: var(--background);
}

.theme-dark .membersGroup_c8ffbb {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--highlight);
  padding: 0px;
}

.theme-dark .membersGroup_c8ffbb::before {
  content: "";
  width: 100%;
  height: 2px;
  margin-right: 3px;
  display: inline-block;
  background: linear-gradient(90deg, rgb(from var(--highlight) r g b / 0) 0%, rgb(from var(--highlight) r g b / 1) 100%);
}

.theme-dark .membersGroup_c8ffbb::after {
  content: "";
  width: 100%;
  height: 2px;
  margin-left: 3px;
  display: inline-block;
  background: linear-gradient(90deg, rgb(from var(--highlight) r g b / 1) 0%, rgb(from var(--highlight) r g b / 0) 100%);
}

.theme-dark .containerDefault__29444 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-dark .containerDefault__29444 div div {
  color: var(--highlight);
}

.theme-dark .arrow_d64d50 {
  display: none;
}

.theme-dark .container-q97qHp .overflow_b0dfc2 {
  max-width: 8vw;
}

.theme-dark .containerDefault__29444::before {
  content: "";
  width: 100%;
  height: 2px;
  margin-right: -11px;
  display: inline-block;
  background: linear-gradient(90deg, rgb(from var(--highlight) r g b / 0) 0%, rgb(from var(--highlight) r g b / 1) 100%);
}

.theme-dark .containerDefault__29444::after {
  content: "";
  width: 100%;
  height: 2px;
  margin-left: -3px;
  display: inline-block;
  background: linear-gradient(90deg, rgb(from var(--highlight) r g b / 1) 0%, rgb(from var(--highlight) r g b / 0) 100%);
}

.theme-dark .panels__5e434 {
  background-color: var(--background);
}

.theme-dark .outer_c0bea0:not(.custom-user-profile) {
  background-color: var(--background);
}

.theme-dark .outer_c0bea0:not(.custom-user-profile) .inner_c0bea0.user-profile-modal,
.theme-dark .outer_c0bea0:not(.custom-user-profile) .inner_c0bea0.user-profile-popout {
  background: inherit;
}

.theme-dark .reactionMe__23977 {
  border-color: var(--highlight) !important;
}

.theme-dark .reactionMe__23977 .reactionCount__23977 {
  color: var(--background) !important;
}

.theme-dark .reaction__23977,
.theme-dark .reactionBtn__23977 {
  border-color: rgb(from var(--highlight) r g b / 30%);
}

.theme-dark .reactionBtn__23977:hover {
  border-color: var(--highlight);
}

.theme-dark .botText__82f07,
.theme-dark .botTagVerified__82f07 {
  color: var(--background);
}

.theme-dark .scrollableContainer__74017 {
  background-color: var(--background);
}

.theme-dark .replying__5126c:hover {
  background-color: rgb(from var(--highlight) r g b / 60%) !important;
}

.theme-dark .ephemeral__5126c {
  background-color: rgb(from var(--highlight) r g b / 30%);
}

.theme-dark .ephemeral__5126c:hover {
  background-color: rgb(from var(--highlight) r g b / 40%) !important;
}

.theme-dark .mentioned__5126c::before {
  background-color: var(--highlight);
}

.theme-dark .autocompleteInner__13533 {
  background-color: var(--background);
}

.theme-dark .selected_c69b6d .icon__2ea32,
.theme-dark .selected_c69b6d .actionIcon_c69b6d:hover,
.theme-dark .selected_c69b6d .name__2ea32 {
  color: var(--highlight) !important;
}

.theme-dark .selected_c69b6d .link__2ea32 {
  background-color: rgb(from var(--highlight) r g b / 20%) !important;
}

.theme-dark .contentWrapper__08434,
.theme-dark .header__8ef02,
.theme-dark .header_fed6d3,
.theme-dark .header_c0e32c,
.theme-dark .categoryList__3ad28,
.theme-dark .scroller_affa7e,
.theme-dark .packHeader_e94b8c,
.theme-dark .header_c656ac,
.theme-dark .inspector_aeaaeb,
.theme-dark .emojiPicker_c0e32c,
.theme-dark .unicodeShortcut_b9ee0c,
.theme-dark #gif-picker-tab-panel {
  background-color: var(--background);
}

.theme-dark .emptyGuildUpsell_e94b8c {
  background-color: var(--background);
  border: 1px solid var(--highlight);
  margin-bottom: 2px;
}

.theme-dark .emptyGuildUpsell_e94b8c .contents__201d5 {
  color: var(--highlight);
}

.theme-dark .categoryItemDefaultCategorySelected_b9ee0c,
.theme-dark .stickerCategoryGenericSelected__3ad28 {
  background-color: var(--highlight);
}

.theme-dark .categoryFadeBlurple_d02962 {
  --bg-brand: var(--highlight);
}

.theme-dark .contentWrapper__9c62c {
  --bg-base-secondary: var(--background);
  --input-border: var(--highlight);
  --text-link: var(--highlight);
  --text-brand: var(--highlight);
  --bg-mod-subtle: var(--highlight);
}

.theme-dark .appDetailsContainer_cb32c7 {
  background-color: var(--background);
}

.theme-dark .children__9293f:after,
.theme-dark .form_f75fb0::before,
.theme-dark .option__56fec:after {
  display: none;
}

:root,
.visual-refresh,
.theme-dark {
  --background-base-low: var(--background) !important;
  --background-base-lower: var(--background) !important;
  --background-base-lowest: var(--background) !important;
  --background-surface-high: var(--background) !important;
  --background-surface-higher: var(--background) !important;
  --background-surface-highest: var(--background) !important;
  --background-mod-faint: rgb(from var(--highlight) r g b / 10%) !important;
  --background-mod-subtle: var(--background) !important;
  --background-mod-normal: rgb(from var(--highlight) r g b / 15%) !important;
  --background-mod-strong: rgb(from var(--highlight) r g b / 25%) !important;
}
.container__8a031 {
  box-shadow: 0px 0px 2px 2px var(--outline) !important;
}
