/**
 * @name CelestialCord
 * @author lSnozin, Rely_Ranly
 * @version 2.0
 * @description Custom theme for Amigatos, inspired by other popular themes
*/

/* ======================================================================= 
 * Main import for 90% of the theme to work, paste other imports below it if needed */
@import url('https://lsnozin1.github.io/Celestial-Theme-Vencord/CelestialCore.css');

/* ======================================================================= */


/* =======================================================================
 * Customize colors here, either with Vscode built in color picker, or the RGBA */

:root,
.visual-refresh,
.visual-refresh.theme-dark {
  --highlight: rgba(244, 127, 255, 1); /* The main highlight color */
  --background: rgba(18, 4, 18, 1); /* The main background color */
  --text: rgba(197, 200, 198, 1); /* The main text color */
  --close-button: rgba(212, 18, 39, 1); /* The main "close this" or "deny" color */
  --online-color: rgba(57, 255, 20, 1); /* The color used in the "online" user status symbol */
  --afk-color: rgba(255, 255, 51, 1); /* The color used in the "idle" user status symbol */
  --dnd-color: rgba(255, 0, 0, 1); /* The color used in the "do not disturb" user status symbol */
  --streaming-color: rgba(188, 19, 254, 1); /* The color used in the "streaming X" user status symbol */

  --transition-time: .3s; /* How fast animations added by the theme happen. Default is 0.3 seconds */

  --background-image: unset; /* To add an image, replace unset with url(https://www.YOUR-URL-HERE.com) */
  --background-position: center; /* Positions the background image */
  --background-size: cover; /* Scales the background image */
  --background-blur: 5px; /* Blurs the image which helps with readability of text infront of it */
  --background-brightness: 100%; /* Changes the background images brightness */

  --outline: rgba(244, 127, 255, 1); /* Outline of Discord 'settings' UI / Container */

  /* Scrollbar customization */
  --scrollbar-width: 6px;      /* main scrollbar size */
  --scrollbar-width-md: 5px;   /* medium scrollers (store carousel etc.) */
  --scrollbar-width-sm: 4px;   /* small scrollers */
  --scrollbar-color: rgba(244, 127, 255, 1); /* leave as-is to match theme, or set a custom color */
}
/* =======================================================================  */

